$fuente_principal : 'Raleway', sans-serif;


$principalColor: #33C3F0;
$secundarioColor: #741D51;
$tercerColor: #e44e52;
$grayColor: #f2f2f2;
$blancoColor: #ffffff;
$blackColor: #000000;


$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

