body {
  margin: 0;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
.wrapper {
  margin: auto;
}
header {
  width: 100%;
  height: auto;
}
header nav {
  display: flex;
  justify-content: flex-end;
}
header nav ul {
  margin: 0;
}
header nav .menuRight {
  width: 250px;
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

nav .menuRight a {
margin-right: 20px;
color: #000000;
text-decoration: none;
}
nav .menuRight .menu-icon{
  background-image: url("https://static.thenounproject.com/png/756729-200.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 25px;
  height: 25px;
}
nav .menuRight img{
  background-color: red;
  border-radius: 50%;
  margin-left: 10px;
}

.img-google {
  text-align: center;
}

.img-google img{
  margin: 3em 0;
  width: 380px;
}
.buscador-google {
  width: 100%;
  display: flex;
  justify-content: center;
}
.buscador-google .buscador {
  width: 380px;
}
.buscador {
  display: flex;
  background: white;
  width: 100%;
  border: 2px solid gray;
  height: 30px;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
   box-shadow: 2px 2px 2px gray;
}
.buscador i {
  color: gray;
  padding-left: 6px;
}
.buscador input {
  width: 80%;
  border: 0;
  margin: 0 6px;
}
.buscador a img{
  width: 14px;
}

.footer {
  display: block;
  width: 100%;
  height: 50px;
  position: fixed;
  bottom: 0;
  background-color: white;
}
.navegacion{
  width: 100%;
  height: 100%;
  position: relative;
  background-color: pink;
  border: 3px solid red;
}

.starNav{
  width: 700px;
  display: block;
  position: absolute;
  left: 1px;
}
.starNav a{
  display: inline-block;
  font-size: 1.4em;
  text-decoration: none;
  color: gray;
  padding: 6px;
}
.endNav {
  width: 400px;
  display: block;
  position: absolute;
  right: 0px;
}
.endNav a{
  display: inline-block;
  font-size: 1.4em;
  text-decoration: none;
  color: gray;
  padding: 6px;
} */