body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #e4e4e4;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

h2 {
  flex: 0 1 100%;
  text-align: center;
}

.card {
  background-color: white;
  margin-bottom: 1.6rem;
  text-align: center;
  padding-bottom: 1rem;
  text-transform: uppercase;
}

.contenido h3 {
  font-size: 1.2rem;
  line-height: 1.4rem;
}

.contenido span {
  color:rgb(255, 43, 71);
}

.boton{
  background-color: rgb(0, 177, 246);
  color: white;
  padding: .4rem 2rem;
  border-radius: 4px;
  text-decoration: none;
}

footer {
  flex: 0 1 100%;
  margin-top: 2em;
  background-color: black;
  color: white;
  text-align: center;
  pad: border: 1px solid;
  padding: 1.5em 0;
}

@media screen and (min-width: 480px){
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card {
    flex: 0 1 calc( 50% - 1rem );
  }

}

@media screen and (min-width: 768px){

  .card {
    flex: 0 1 calc( 33% - 1rem );
  }

}

@media screen and (max-width:1200px) and (min-width: 768px){
  body {
    background-color: red;
  }
}

/*
xl = desktop: 1200px;
lg = laptop: 1024px;
md = tablet: 768px;
sm = phone: 480px; */
