@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Poppins:wght@400;700&display=swap');

:root {
  --veryDarkDesaturatedBlue: hsl(238, 29%, 16%);
  --softRed: hsl(14, 88%, 65%);
  --softViolet: hsl(273, 75%, 66%);
  --softBlue: hsl(240, 73%, 65%);
  --veryDarkGrayishBlue: hsl(237, 12%, 33%);
  --darkGrayishBlue: hsl(240, 6%, 50%);
  --lightGrayishBlue: hsl(240, 5%, 91%);
  --fontSize: 12px;
}

* {
  box-sizing: border-box;
}

html {
  font-size: var(--fontSize);
} 

body {
  margin: 0;
  font-family: 'Kumbh Sans', sans-serif;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(var(--softViolet),var(--softBlue));
  display: grid;
  justify-content: center;
  align-content: center;
}

.wrapper {
  background: white;
  border-radius: 20px;
  height: 500px;
  width: 900px;
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-gap: 0rem;
  background-image: url(/images/bg-pattern-desktop.svg);
  background-repeat: no-repeat;
  background-position: 880% 65%;
}

.answer {
  display: none;
} 

.accordion_card {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
}

.accordion_questions {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.question_answer_accordion {
  width: 350px;
  border-bottom: 1px solid var(--lightGrayishBlue);
}

.title_accordion {
  font-size: 3rem;
  margin-top: 0px;
}

.question_title {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 1.4rem 0rem;
  color: (var(--veryDarkGrayishBlue));
}

.question {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  transition: 0.3s;
}

.question img {
  align-self: center;
}

.image_card {
  position: relative;
}

.image_card_inner {
  background: url(/images/illustration-woman-online-desktop.svg);
  background-repeat: no-repeat;
  background-position: 120%;
  height: 100%;
} 

.box {
  position: absolute;
  left:-32%;
  top: 42%;
}

.active img {
  transform: rotate(180deg);
  transition: all 0.2s ease-in;
}

.active h3 {
  font-weight: 700;
}

@media screen and (max-width: 600px) {
  .wrapper {
    width: 350px;
    height: 530px;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr;
    grid-gap: 0.5rem;
    position: relative;
    padding: 1rem;
  }

  .image_card {
    background: url('/images/bg-pattern-mobile.svg');
    background-repeat: no-repeat;
    background-position: center 590%;
  }

  .image_card_inner {
    position: absolute;
    width: 100%;
    height: 200px;
    background-size: 72%;
    background-position: center;
    top: -140%;
  }

  .box {
    width: 120px;
    left: 10%;
    top: -70%;
  }

  .accordion_card {
    margin-top: 0px;
  }

  .question_answer_accordion {
    width: 100%;
  }

  .title_accordion {
    text-align: center;
  }






















}